<a href="https://colab.research.google.com/github/morpheus17201/Git-Notes/blob/main/Week01_GA1_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
data_path = r'https://raw.githubusercontent.com/morpheus17201/MLP/refs/heads/main/Week1_GA_dataset.csv'

In [4]:
df = pd.read_csv(data_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               10000 non-null  object
 1   Year               10000 non-null  int64
 2   Locality           8747 non-null   object
 3   Estimated Value    8757 non-null   float64
 4   Sale Price         10000 non-null  float64
 5   Property           10000 non-null  object
 6   Residential        10000 non-null  object
 7   num_rooms          10000 non-null  int64
 8   num_bathrooms      10000 non-null  int64
 9   carpet_area        8771 non-null   float64
 10  property_tax_rate  10000 non-null  float64
 11  Face               10000 non-null  object
dtypes: float64(4), int64(3), object(5)
memory usage: 937.6+ KB

# Question 1
How many unknown ("?) values are present in the dataset? Remove/Delete unknown ("?) values present in the dataset to make it null value.
Remove/Delete - means it will show NAN in place of "?"
Note: If there is no value present in the dataset it is represented as NAN(read pandas documentation for all the other ways to represent null values) in data

In [9]:
unknown_count = 0
for col in list(df.columns):
  in_col_count = (df[col]=='?').sum()
  unknown_count+=in_col_count
  print(f"{col+':':24} {in_col_count}")

print(f"Total count of unknown ('?') values: {unknown_count}")

Date:                    0
Year:                    0
Locality:                0
Estimated Value:         0
Sale Price:              0
Property:                1823
Residential:             0
num_rooms:               0
num_bathrooms:           0
carpet_area:             0
property_tax_rate:       0
Face:                    0
Total count of unknown ('?') values: 1823

In [15]:
# Inspecting rows with '?'
df[df['Property']=='?'].tail(10)

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
9960,2022-09-21,2022,Norwalk,1082810.0,1612500.0,?,Detached House,3,2,961.0,1.003979,South
9967,2022-09-23,2022,Bridgeport,118710.0,280000.0,?,Detached House,3,3,NaN,1.003979,North
9968,2022-09-23,2022,NaN,450910.0,704500.0,?,Detached House,3,3,900.0,1.003979,South
9973,2022-09-24,2022,West Hartford,175210.0,290000.0,?,Detached House,3,3,906.0,1.003979,West
9980,2022-09-25,2022,Bridgeport,102270.0,283000.0,?,Detached House,3,1,NaN,1.003979,South
9984,2022-09-28,2022,Stamford,475140.0,730000.0,?,Detached House,3,1,977.0,1.003979,South
9989,2022-09-29,2022,Stamford,373530.0,485000.0,?,Detached House,3,3,1084.0,1.003979,South
9990,2022-09-30,2022,NaN,352030.0,700000.0,?,Detached House,3,3,958.0,1.003979,North
9995,2022-09-30,2022,Bridgeport,153660.0,322000.0,?,Detached House,3,3,917.0,1.003979,North
9996,2022-09-30,2022,Bridgeport,109820.0,340000.0,?,Duplex,4,4,1416.0,1.003979,North

In [16]:
df.loc